.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &.-display-none {
    display: none
  }
}

.content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}

.title {
  font-size: 26px;
  color: rgba(0, 8, 38, 0.8);
  font-weight: bold;
  margin: 0
}